<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Your Report</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/center.css')}}"></style>
    <script src="{{url_for('static', filename='js/pollution-report.js')}}"></script>
    <script src="{{url_for('static', filename='js/table-data.js')}}"></script>
</head>
<body>
	<div class="grid" id="container">
        <h1 id="report-header">Your report:</h1>
        <p id="report-placeholder">loading...</p>
    </div>
</body>
</html>